<header>
    <nav class="navbar">
        <a href="/" class="navBarTitleLink" title="Home">
            <img src="/books.png" class="navBookIcon" alt="book icon" height="40px">
            <h1>InvManager</h1>
        </a>

        <div class="navBarButtons">
            <a href="/create"><button tabindex="2">Create Entry</button></a>
            <button>All Items</button>
            <a href="/books" tabindex="4"><button>Books</button></a>
            <a href="/videoGames" tabindex="5"><button>Video Games</button></a>
        </div>
    </nav>
</header>