<header>
    <nav class="navbar">
        <a href="/" class="navBarTitleLink">
            <h1 class="navBarTitle">Inventory Mgmt</h1>
        </a>

        <div class="navBarButtons">
            <a href="/create"><button>Create Entry</button></a>
            <button>All Items</button>
            <button>Books</button>
            <button>Video Games</button>
        </div>
    </nav>
</header>