<header>
    <nav class="navbar">
        <h1>Inventory Mgmt</h1>

        <div class="navBarButtons">
            <button>Create Entry</button>
            <button>All Items</button>
            <button>Books</button>
            <button>Video Games</button>
        </div>
    </nav>
</header>