<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/books.png" type="image/x-icon"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <img class="bookIconPng" src="/book-icon.png" alt="Book Icon" width="300px" height="300px">
    <img class="controllerIconPng" src="/controller-icon.png" alt="Game Controller Icon" width="300px" height="300px">
    <main class="createFormMainContainer">
        <form action="/create" method="POST">
        <fieldset class="createFieldSet">
            <legend class="selectItemLegend">Select the type of item to add to inventory</legend>
            
                <div class="itemTypeInnerContainer">
                    <label for="itemType">Item Type: </label>
                    <select name="itemType" id="itemType">
                        <option value="book">Book</option>
                        <option value="videogame">Videogame</option>
                    </select>
                    
                </div>
        </fieldset>
        <div class="addBookBtnCont"><button type="submit" class="addBookBtn orangeBtn">Submit</button></div>
        </form>
    </main>
</body>
</html>