* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.libre-franklin {
  font-family: "Libre Franklin", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: linear-gradient(to right, #070F2B , #1B1A55);
  color: #EEEEEE;
  font-family: "Libre Franklin";
}

nav {
  box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: 3px solid #535C91;
}

.navBarTitleLink:active, .navBarTitleLink:link, .navBarTitleLink:visited {
  color: #EEEEEE;

}

.navbar button {
  font-size: 1.5rem;
  color: #EEEEEE;
  background-color: transparent;
  border-radius: 15px;

}

.navBarButtons {
  display: flex;
  gap: 2rem;
}

.navBarButtons > button, .navbar a button {
  font-weight: 900;
  border: none;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border: 2px solid #535C91;
  transition: border .3s ease-in-out;
  
}



.navBarButtons button:hover {
  border: 2px solid #EEEEEE;
}

.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.mainItemType {
  margin: 1rem 0;
}

.homeMainCont {
  padding: 0.5rem 1rem;
  border: 4px solid #535C91;
  border-radius: 15px;
  padding: 1rem;
}

.mainUl {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  gap: 1rem;
  margin: 0 0 2rem;
}

.mainItemTitle {
  font-size: 1.4rem;
  margin: 0 0 1rem 0;
  text-decoration: underline;
}

.mainItemImgCont {
  position: relative;
}
.missingCoverText {
  position: relative;
  text-align: center;
  text-wrap: wrap;
  top: 30%;
  right: 10%;
  padding: 0 .5rem;
  font-weight: 500;
}

.mainItemImgCont img {
  position: relative;
}

.mainItemImgAndDescCont {
  display: grid;
  grid-template-columns: .7fr 3fr;
  gap: 1rem;
}

.mainItemImage {
  border: 3px solid #535C91;
  width: 130px;
  border-radius: 15px;
  height: 170px;
}

.mainItemDescription {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.createFormMainContainer {
  max-width: 1200px;
  margin: 2rem auto;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.createFieldSet {
  padding: 1rem 1rem;
  border-radius: 15px;
  border: 3px solid #535C91;
}

.selectItemLegend {
  font-size: 1.4rem;
  padding: 0 1rem;
  margin-left: -2rem;
}

.selectItemTypeHeader {
  margin: 1rem 0;
  padding: 0;
}

.itemTypeInnerContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 1rem;
}

.itemTypeInnerContainer, .itemTypeInnerContainer select, .itemTypeInnerContainer button {
  font-size: 1.4rem;
}

.itemTypeInnerContainer select {
  padding: .5rem 1rem;

}

.itemTypeInnerContainer button {
  padding: .5rem 1rem;
  border-radius: 30px;
}



